*{
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(213, 213, 193);
}


/* header{
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;
    margin: 0px;
} */

nav{
 
    padding: 8px 0px 8px 0px; 
    background-color: rgb(54, 54, 54);
} 

ul{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    list-style: none;
    padding: 12px;
}

nav a{
    text-decoration: none;
    color: rgb(125, 120, 120);
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

nav a:hover{

    text-decoration: underline;
    color: rgb(216, 159, 54);
}
/* logo image */
#logo{
    border-radius: 49%;
    height: 60px;
    width: 68px;
    position: absolute;
    left: 38px;
    top: 3px;
}

/* searchbar */
.frm1{
    float: right;
    margin-top: -43px !important;
    margin-right: 7px;
}

.srcbtn:hover{
    background-color:  rgb(216, 159, 54);;
}
/* jumbotron */
.jumbotron{
    height: 330px;
}

/* container class */
.container-fluid{
    /* border: 1px solid rebeccapurple; */
     display: flex; 
     flex-wrap: wrap;
    /* display: grid; */
    padding: 10px; 
    /* margin: auto; */
    /* width: 800px; */
}

/* .container{
    /* border: 1px solid pink; 
} */

.cd{
    
    border:1px solid rgb(0, 0, 0);
    border-radius: 34px;
    margin: 15px;
    /* display: grid; */
    /* height: 200px;
    width: 200px; */
}

.card{
    border: 1px dotted blue;
}
.card:hover{
    position: relative;
    top: -13px;
    border: 2px solid  rgb(152, 124, 67); 
    box-shadow: 8px  8px rgb(216, 159, 54);
    transition: 450ms ease-in;
}

.container-fluid{
    /* border: 1px solid red; */
    justify-content: center;
}

/* .container-fluid:hover{
    border: 1px slateblue double;
} */

/* .container{
    border: 1px solid green;
} */
/* .can{
    margin: 1px;
    width: 40%;
    display: flex;
} */
/* .card:hover{
    border: 5px solid pink;
} */

.cd img{
     height: 100px;
    width: fit-content; 
    padding: 2px;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 1px red;
    border-radius: 34px;
}
.imgf{
    height: 240.1px;
    width: 240.1px;
}

/* cards button #butn */
#butn1 {
    margin-top: 48px
}
#butn3{
    margin-top: 23px;
}

#butn4{
    margin-top: 69px;
}

/* #ul-btn{
    display: none;
}

ul-1{
    display: flex
}

 .show-nav{
        display: none;
   } */

#ul-btn{
    display: none;
}

#li-srcbar{
    /* position: relative;
    display: flex;
    align-items: center;
    top: 21px; */
    position: relative;
    display: flex;
    align-items: center;
    top: 21px;
    left: 30px;
    justify-content: center;
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in 4s;
} 

#submenu{
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    padding: 20px;
}

#submenu li{
    list-style: none;
    color: rgb(216, 159, 54);
}

/* #submenu li:hover{
    color: rgb(243, 149, 43);
} */

#submenu a{
    color: gray;
}

#submenu a:hover{
    color: rgb(243, 149, 43);
    position: relative;
    left: 5px;
    
}

#Menuu{
    display: block;
    float: right;
  }
  
  #img1{
      position: absolute;
      right: 2%; 
      top: 19px;
      display: flex;
      align-items: center;
      height: 20px;
      width: 50px;
      border-radius: 39%;
      cursor: pointer;
  }
  
  #submenu{
      display: none;
      /* display: inline-block; */
      position: absolute;
      right: 7%;
      top: 20px;
  
  }
  .hide{
      display: flex !important;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0px !important;    
      /* display: inline-block; */
      position: absolute;
      right: 10%;
      top: 20px;
      border: 1px solid salmon;
      
  } 
  /* footer */

  .footer{
    background-color: rgb(54, 54, 54);;
  }

  .text-center{
    padding-top: 15px;
  }

 /* #footer_nav{
    background-color: #565656;
    padding: 5px 5px 5px 5px;
 }

 #footer_ul{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
 } */
.col-2{
    float: left;
    display: flex;
    align-items: center;
}

 .col-8 ul{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 3%;
 }

 .col-8 ul li{
    list-style: none !important;
 }

 .col-8 ul li a{
    color: rgb(125, 120, 120);
 }
 .col-8 ul li a:hover{
    color: rgb(243, 149, 43);
 }

 .col-8 ul li img{
    height: 20px !important;
    width: 25px !important;
    position: relative;
    right: 10%;
 }
 
 #footer_scroll{
    scroll-behavior: smooth;
    transition: 10s ease;
 } 

 /* new main */
 .div2{
    border: 1px solid saddlebrown;
 }



@media only screen and (max-width: 950px){
   

   ul{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   } 

   #logo{
    border-radius: 60%;
    position: relative;
    left: 2px;
    top: -5px;
   }

   #ul-btn{
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 3px;
   }

   .ham{
    display: none;
    transition:ease 3s
    
   }


} 






